section.about-wall{
  background-image: url('../img/fondo5.jpg');
}

div.col > img{
  width: 330px;
  margin-left: 20%
  border: 10px solid #fff;
}

div.about-box{
  background-color: rgba(255, 255, 255, 0.6);
}

ul.bullets{
  list-style: none;
}

ul.bullets > li:first-child{
  font-weight: bold;
}

section > div.col > h2,article{
  color:black !important;
}
