.form {
    padding: 0 20px;
}

.form .form-row {
    padding: 10px;
}

.form input{
  display: block;
  border-bottom: 2px solid black;
}

.form input[type=radio]{
  display: inline;
}

.form input[type=sumbit]{
  background-color: rgb(55, 13, 64);
}
