section.contact-wall{
  background-image: url('../img/fondo4.jpg');
}

.navbar > .navbar-list > .nav-item.active > a {
  color:rgb(228, 220, 194);
}

.navbar > .navbar-list > .nav-item:hover > a {
  color:rgb(228, 220, 194);
}

.form {
    padding: 0 20px;
    /*background-color: rgba(255, 251, 240,0.2);*/
}

.form .form-row {
    padding: 10px;
}

.form-row>h3{
  color: rgb(18, 15, 45);
}

.form-row>label{
    color: rgb(98, 164, 173);
}

.form input{
  display: block;
  border: none;
  border-bottom: 2px solid black;
  background:transparent;
  margin: 4px 0 15px 0;
}

.form input[type=text], input[type=email],input[type=number]{
    width: 100%;
}

.form input[type=radio]{
  display: inline;
}

div.select label{
  cursor: pointer;
  padding-right: 20px;
  color: rgb(96, 96, 96);
}

input:checked + label{
  font-weight: bold;
  color: #fff;
}

/*
*/
.form input[type=radio]{
  position: absolute;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
}

#someone2{
  max-width: 200px;
  border: none;
}

input#someone2{
  color: rgb(96, 96, 96);
  margin: 0;
  display: inline;
  font-size: 1em;
}

textarea{
  width: 100%;
}

.invisible{
  display:none;
}

p{
  display: inline;
  margin: 0;
}

input#someone2.focused{
  border: none;
  border-bottom: 2px solid black;
  color: #fff;
}

input#someone2.selected{
  border: none;
  border-bottom: none;
  color: #fff !important;
  font-weight: bold !important;
}


button#enviar{
    margin-left: 10px;
    background-color: rgb(34, 19, 94);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: background-color linear 0.5s;
}

button#enviar:hover{
  background-color: white;
  color: rgb(34, 19, 94);
}

li.task-item{
  list-style-type: none;
}
