* {
    font-family: victor,'Roboto', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@font-face {
    font-family: victor;
    src: url('https://fonts.googleapis.com/css?family=Oswald');
    font-weight:400;
}

body {
    margin: 0;
    padding: 0;
    --main-text-color: #F7F7F7;
    --secondary-text-color: #A4A4A4;
    font-family: victor, 'Roboto',Helvetica,Arial,sans-serif;
}

.navbar{
  background-color: rgba(255,255,255,0.3);
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar > .navbar-list{
  list-style-type: none;
  margin: 0;
  float:right;
  font-size: 0;
}

.navbar > .navbar-list > .nav-item {
  display: inline-block;
  padding: 20px;
}

.navbar > .navbar-list > .nav-item > a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color:rgb(45, 23, 77);
}

.navbar > .navbar-list > .nav-item > a:hover{
  color: white;
}

.navbar > .navbar-list > .nav-item.active > a{
  color: white;
}

.clearfix:after{
  clear: both;
  content: " ";
  display: block;
  visibility: hidden;
}

.back{
  width: 100%;
  height: 100vh;
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100vw 100vh;
}

section.index-wall{
  background-image: url('../img/fondo.jpg');
}

section#black-ground{
  width: 100%;
  background-color: rgba(10,10,10,0.95);
  animation-name: darker-back;
  animation-duration: 2s;
}

@keyframes darker-back {
    from {background-color: rgba(10,10,10,0);}
    to {background-color: rgba(10,10,10,0.95);}
}

.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.fex-left{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items:center;
  margin-left: 0;
  width: 100vw;
}

div.col{
  color: white;
  width: 40%;
  margin: 0 auto;
  padding: 0 40px;
  /*background-color: rgba(220,220,220,0.2);*/
}

.titulo{
  color: white;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

.subtitulo{
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 60px;
}

#googleMap {
    height: 400px;
}

footer.footer>p.notaAlPie{
  color: white;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
  left: 2%;
}

.shadow {
  -moz-box-shadow: 0px 0px 20px #000000;
  -webkit-box-shadow: 0px 0px 20px #000000;
  -ms-box-shadow: 0px 0px 20px #000000;
  box-shadow: 0px 0px 20px #000000;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */

}
