/* mobile */
* {
    font-family: victor,'Roboto', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@font-face {
    font-family: victor;
    src: url('https://fonts.googleapis.com/css?family=Oswald');
    font-weight:400;
}

body {
    color: white;
    z-index: 2;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    display: block;
    position: absolute;
    --main-text-color: #F7F7F7;
    --secondary-text-color: #A4A4A4;
    font-family: victor, 'Roboto',Helvetica,Arial,sans-serif;
}

ul,li{
  list-style: none;
}

section.section-one{
  position: absolute;
  width: 100vw;
  display: inline-block;
  text-align: center;
}

div.div-one{
  position: relative;
  display: block;
  margin-top: 30%;
  float: left;
}

div.div-two{
  position: relative;
  padding: 20px;
  text-align: justify;
  margin: 0 auto;
}

ul.stacks > li.stack_knowledge{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 30%;
}

img.back{
  position: absolute;
  left: 50%;
  margin-left: -900px;
  top: 0;
  z-index: -4;
  width: 1800px;
  overflow-x: hidden
  height: 1100px;
}

p.detail{
}

section.img-container{
  height: 1125px;
  width: 2000px;
  overflow-y: hidden;
}

div#black-ground{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(10,10,10,0.6);
  animation-name: darker-back;
  animation-duration: 2s;
  z-index: -1;
}

@keyframes darker-back {
    from {background-color: rgba(10,10,10,0);}
    to {background-color: rgba(10,10,10,0.6);}
}

.titulo{
  color: white;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

.subtitulo{
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 60px;
}

.down{
  position: absolute;
  bottom: 20%;
  margin: 0 30%;
}

#googleMap {
    height: 400px;
}

footer.footer>p.notaAlPie{
  color: white;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
  left: 2%;
}

.shadow {
  -moz-box-shadow: 5px 5px 5px 3px rgba(10,10,10,0.5);
  -webkit-box-shadow: 5px 5px 5px 3px rgba(10,10,10,0.5);
  -ms-box-shadow: 5px 5px 5px 3px rgba(10,10,10,0.5);
  box-shadow: 5px 5px 5px 3px rgba(10,10,10,0.5);
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

/* tablet */
@media only screen and (max-width: 414px) {
    body {
        background-color: lightblue;
    }
}

/* desktop */
@media only screen and (max-width: 1024px) {

  .navbar{
    background-color: rgba(255,255,255,0.3);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .navbar > .navbar-list{
    list-style-type: none;
    margin: 0;
    float:right;
    font-size: 0;
  }

  .navbar > .navbar-list > .nav-item {
    display: inline-block;
    padding: 20px;
  }

  .navbar > .navbar-list > .nav-item > a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color:rgb(45, 23, 77);
  }

  .navbar > .navbar-list > .nav-item > a:hover{
    color: white;
  }

  .navbar > .navbar-list > .nav-item.active > a{
    color: white;
  }
}
